{% extends 'tinyOrganicApp/base.html' %}

{% block content %}

<h1>Filtered Recipes</h1>

<p>First Name: {{ object.First_Name }}</p>
<p>Last Name: {{ object.Last_Name }}</p>
<p>Email: {{ object.Email }}</p>
<p>Child First Name: {{ object.Child_First_Name }}</p>
<p>Child Last Name: {{ object.Child_Last_Name }}</p>
<p>Allergies: {{ object.Any_Allergies }}</p>

<h1>Recipes you can use based on your allergens 👍</h1>
{% for filteredRecipe in listFilteredRecipes %}
    <li> ✅ {{ filteredRecipe }}</li>
{% endfor %}

<h1>Just for the record don't touch these at ALL!! 🙅‍♂️</h1>
{% for br in badRecipes %}
    <li> ❌ {{ br }}</li>
{% endfor %}

{% endblock %}